a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.menu-btn {
    display: none;
}

@media (max-width: 599px) {
    .menu-btn {
        display: block;
    }
}

#navigate {
    display: none;
}

@media (min-width: 599px) {
    #navigate {
        display: block;
        margin-left: auto;
        display: flex;
        gap: 10px;
    }
}