mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}



/* #navigate {
    margin-left: auto;
    display: flex;
    gap: 10px;
} */





.signup{
    display: inline-block;
    padding: 10px;
}